@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&display=swap');

#home-veg {
color: red;
font-weight: bold;
}

body {
  background-color: tan;
  color: green;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
  font-family: Raleway;
  color; darkgreen;
}
